@font-face{
    font-family: "lato";
    src: url(./fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: "montserrat";
    src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: "montserrat2";
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: "nunito";
    src: url(./fonts/Nunito-Medium.ttf);
}
@font-face{
    font-family: "poppins";
    src: url(./fonts/Poppins-Regular.ttf)
}
@font-face{
    font-family: "poppins2";
    src: url(./fonts/Poppins-Bold.ttf)
}
@font-face{
    font-family: "noto";
    src: url(./fonts/NotoSerifGeorgian-Regular.ttf)
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
section{
    padding-left: 40px;
    padding-right: 40px;
}
.section1{
    height: 80px;
    flex-shrink: 0;
    background: var(--Neutral, #0A0F29);
}
header{
    display: flex;
    justify-content: space-between;
}
/*     SECTION2         */
.section2{
    height: 105vh;
background: var(--Green, #098C26);
padding-top: 20px;
border-bottom: 5px;
}
ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}
.main{
    color: var(--Surface, #FFF);
font-family: "lato";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
li a{
    text-decoration: none;
    color: var(--Surface, #FFF);
    /* Lato Semi Bold 28 */
    font-family: "lato";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
span{
    color: var(--Surface, #FFF);
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about{
    margin-top: 70px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}
.about h2{
    width: 630px;
    height: 115px;
    color: var(--Surface, #FFF);
    /* Montserrat Semi Bold 52 */
    font-family: "montserrat";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.about p{
    width: 675px;
    height: 190px;
    color: var(--Surface, #FFF);
    /* Montserrat 40 Regular */
    font-family: "montserrat2";
    font-size: 40px;
    font-weight: 400;
}
.btn1{
    width: 300px;
    height: 65px;
    padding: 20px 25px 19px 25px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Orange, #F7931A);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
    margin: 0;
}
.btn2{
    width: 300px;
    height: 65px;
    padding: 20px 25px 19px 25px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Surface, #FFF);
    margin-left: 30px;
    border: none;
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
}
/*       SECTION3            */
.title{
    display: flex;
    height: 210px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    margin-top: 50px;
}
.title h1{

    height: 60px;
    color: var(--Blue, #2F66F6);
    text-align: center;
    font-family: "montserrat";
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.title p{
    height: 100px;
    color: #000;
    text-align: center;
    font-family: "montserrat2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.container img{
    width: 90px;
    height: 90px;
}
.container{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    margin-top: 45px;
    background: #F5F5F5;
}
.card1{
    display: flex;
}
.card1 h3{
    width: 150px;
    height: 45px;
    color: var(--Blue, #2F66F6);
    /* Lato Bold 36 */
    font-family: "lato";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding-left: 21px;
}
.card1 p{
    width: 310px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "poppins";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-left: 21px;
    padding-top: 10px;
}
/*     SECTION4     */
.section4{
    background: #F5F5F5;
height: 150vh;
}
.section4 h1{
    color: var(--Blue, #2F66F6);
    font-family: "noto";
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.btn3{
    width: 200px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Green, #098C26);
    color: var(--Surface, #FFF);
    text-align: center;
    border: none;
    font-family: "nunito";
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}
.btn4{
    width: 300px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0F0F0;
    background-image: url(./img/Bitcoin.png);
    background-repeat: no-repeat;
    background-position: 20px;
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "poppins2";
    font-size: 24px;
    font-weight: 700;
    padding-left: 40px;
    border: none;
    cursor: pointer;
}
.btn4:hover{
    box-shadow: 4px 10px 10px 10px rgba(0, 0, 0, 0.50);
}
.btn5{
    width: 200px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: var(--Red, #CD0000);
    color: var(--Surface, #FFF);
    text-align: center;
    /* Nunito 28 pt Regular */
    font-family: "nunito";
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}
.abt-market{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abt-market h1{
    text-align: left;
    color: #000;
    font-family: "montserrat";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.abt-market p {
    width: 790px;
    color: #000;
    font-family: "nunito";
    font-size: 24px;
    font-weight: 400;
}
.abt-market img{
   position: absolute;
   right:0;
      margin-bottom: 80px;
}
.frame{
    width: 400px;
    height:450px;
    border: 0.25px solid #000;
    background: #FCC98A;
    margin-top: 90px;
    border: none;

}
.frame:hover{
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.50);
}
.frame h3{
    color: var(--Red, #CD0000);
    text-align: center;
    font-family: "noto";
    font-size: 40px;
    font-weight: 700;
}
.frame h2{
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "montserrat";
    font-size: 52px;
    font-weight: 600;

}
.frame h4{
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "montserrat";
    font-size: 40px;
    font-weight: 400;
}
.frame h5{
    color: var(--Green, #098C26);
    text-align: center;
    font-family: "lato";
    font-size: 36px;
    font-weight: 700;
}



/*        SECTION5         */
.section5{
    background: #F5F5F5;
    height: 150vh;
}
.section5 h1{
    color: var(--Blue, #2F66F6);
    font-family: "noto";
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}
.all{
    display: flex;
    justify-content: space-between;
}
.all h2{
    color: #000;
    font-family: "montserrat";
    font-size: 52px;
    font-weight: 600;
}
.all h3 a{
    color: #9B9B9B;
    font-family: "montserrat";
    font-size: 52px;
    font-weight: 600;
    text-decoration: none;
}
.all-w{
    padding-left: 40px;
    width: 410px;
    height: 52.5px;
}
.all-w h2{
    display: flex;
    align-items: center;
    

}
.all-w img{
    width: 20px;
    height: 10px;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.coin img{
    margin-right: 15px;
    margin-top: 5px;
}

 .scheme h1{
    color: #000;
    font-family: "montserrat2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
 }
 .scheme{
    display: flex;
    width: 860px;
    height: 560px;
    padding-right: 105px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
 }

.scheme ul{
    display: flex;
    width: 860px;
    height: 560px;
    padding-right: 105px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    margin-top: 30px;
}
.scheme li{
    display: flex;
}
.scheme li h1{
    color: #000;
    text-align: center;
    font-family: "monserrat2";
    font-size: 40px;
    font-weight: 400;
    margin-right: 15px;
    display: flex;
}
.frames{
    width: 700px;
    height: 100px;
    flex-shrink: 0;
    margin-top: -15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.50);
    display: flex;
}
.frames img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
}

.btc2{
    color: var(--Neutral, #0A0F29);
    font-family: "lato";
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
}

.bitcoin{
    display: flex;
    width: 200px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    color: #959595;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   padding-bottom: 29px;
   padding-left: 10px;
}
.graph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    
}

.names2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prc2{
    color: #000;
    font-family: "lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
   

}
.prc3{
    color: var(--Green, #098C26);
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  padding-left: 60px;
    
}
.prc4{
    color: #000;
    font-family: "lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 30px;
   

}
.prc5{
    color: var(--Green, #098C26);
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  padding-left: 60px;
    
}
.prc6{
    color: #000;
    font-family: "lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 42px;
   

}
.prc7{
    color: var(--Green, #098C26);
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  padding-left: 45px;
    
}
.prc8{
    color: #000;
    font-family: "lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 42px;
}
.prc9{
    color: var(--Red, #CD0000);
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  padding-left: 45px;
    
}
.prc10{
    color: #000;
    font-family: "lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 53px;
}
.prc11{
    color: var(--Green, #098C26);
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  padding-left: 52px;
    
}
.blocks{
    display: flex;
    justify-content: space-between;
}
.block{
    width:475px;
    height: 330px;
    margin-top: 130px;
    background: rgba(154, 255, 176, 0.50);
    display: flex;
    padding: 31px 25px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 15px;
    flex-wrap: wrap;
    background-image: url(./img/Logo.png);
    background-repeat: no-repeat;
    background-position: right 50px top;
    background-size: 120px 220px;
    right: 20px;
   
}
.block p{
    margin: 0;
    width: 250px;
    color: #222835;
    font-family: "montserrat";
    font-size: 40px;
    font-weight: 700;
}
.block button{
    width: 192px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 6px 17px;
    gap: 10px;
    border-radius: 5px;
    background: #01AB6C;
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 400;
    background-image: url(./img/pin.png);
    background-repeat: no-repeat;
    border: none;
    background-position: 160px;
}
/*        SECTION6        */
.section6{
    padding: 0;
    width: 100%;
    height: 250px;
    background: var(--Neutral, #0A0F29);
    
}
.trade{
    display: flex;
    justify-content: space-between;
    
}
.block-trade{
    display: flex;
    width: 420px;
    height: 80px;
    padding: 10px 95px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid #000;
    background: var(--Surface-Dim, #F8F9FB);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}
.block-trade h2{
    margin: 0;
    display: flex;
    width: 240px;
    height: 55px;
    flex-direction: column;
    justify-content: center; 
    color: var(--Blue, #2F66F6);
    font-family: "montserrat";
    border: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*      CANDLES        */
.candle{
   margin-left: 20px;
   margin-top: 15px;
}
.candle1{
    margin-top: 15px;
}
.candler{
    margin-right: 20px;
    margin-top: 25px;
}
.candle2{
    margin-top: 25px;
}
.section6 p{
    color: var(--Surface, #FFF);
    text-align: center;
    font-family: "nunito";
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}

/*          SECTION7        */
.section7{
    background: #F5F5F5;
    height: 114vh;
}

.advert{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.spn1{
    color: #949494;
    text-align: center;
    font-family: "nunito";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    padding-left: 20px;
}
.spn2{
    color: var(--Orange, #F7931A);
    text-align: center;
    font-family: "nunito";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}
.spn2 mark{
    color: var(--Orange, #F7931A);
    background: linear-gradient(180deg, #FFEAD1 0%, #F5E2C9 100%);
}
.spn3{
    width: 55px;
     height: 24.671px;
    color: var(--Green, #098C26);
    text-align: center;
    font-family: "nunito";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}
.spn3 mark{
    background: linear-gradient(180deg, #D3F1C5 0%, #D0F3CA 100%);
    color: var(--Green, #098C26);
}
.cntr{
    display: flex;
    margin-left: 140px;
    gap: 5px
    ;
}
.cntr2{
   margin-left: 60px;
}
.list-box{
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    background: #ECECEC;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
    background-position: left 20px top 36px;
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ECECEC;
    height: 150px;
    margin-top: 40px;
}
.box1{
    padding-left: 95px;
    

}
.img1{
    position: absolute;
    left: 60px;
    padding-top: 40px;
}
.box1 h3{
    color: #2F66F6;
    font-family: "nunito";
    font-weight: 600;
    font-size: 28px;
   padding-top: 5px;
}
.box1 span{
    font-family: "nunito";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #0A0F29;
    margin: 5px;
}
.like{
    position: absolute;
    left: 105px;
}
.box2{
    margin-bottom: 45px;
}
.box2 span{
    font-family: "nunito";
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #0A0F29;
    margin: 5px;
}

.box3 h4{
    font-family: "nunito";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #949494;
}

.box4 h4{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    margin-right: 50px;
}

.box5 h5{
    width: 100px;
    height: 30px;
    background: linear-gradient(180deg, #FFEAD1 0%, #F5E2C9 100%);
    color: #F7931A;


    font-family: "nunito";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.box6 button{
    font-family: "nunito";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    background: #CD0000;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-right: 50px;
    border: none;
    
}
.boxs1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ECECEC;
    height: 150px;
    margin-top: 10px;
}
/*    SECTION8      */
.section8{
    background: #F5F5F5;
    height: 130vh;
    margin-top: 70px;
}
.section8 h1{
    font-family: "noto";
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0px;
    color: #2F66F6;
    text-align: center;
    padding-top: 40px;
    margin: 0;
    
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome p{
    width: 1055px;
    height: 120px;
    font-family: "poppins";
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    align-items: center;
    color: #000000;
    
}
.map{
    display: flex;
}
.map img{
    width: 600px;
    height: 500px;
}
.form{
    flex-direction: column;
    display: flex;
    gap: 20px
    ;
    padding-left: 20px;
    padding-top: 20px;
}
.text{
    width: 500px;
    height: 60px;
    border: 2px solid #2A27BB;
    border-radius: 10px;
    padding-left: 20px;
}
.text::placeholder{
    font-family: "lato";
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    
}
.email{
    width: 500px;
    height: 60px;
    border: 2px solid #2A27BB;
    border-radius: 10px;
    padding-left: 20px;
}
.email::placeholder{
    font-family: "lato";
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    
}

.big{
    width: 500px;
    height: 270px;
    border: 2px solid #2A27BB;
    border-radius: 10px;
    padding-bottom: 180px;
    padding-left: 20px;
    
}
.big::placeholder{
    font-family: "lato";
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    
}


/*       SECTION9         */
.section9{
    background: #0A0F29;
    height: 50vh;

}
.footer{
    display: flex;
    justify-content: space-between;
}
.left-footer h3{
    font-family: "lato";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0;
    width: 225px;
height: 50px;



    
}
.cen-footer{
    padding-left: 100px;
}
.cen-footer div{
    display: flex;
    margin-top: 10px;
    gap: 10px
    ;
}
.cen-footer img{
    width: 48.63px;
    height: 50px;
    margin-top: 20px;
    
}
.loc{
    width: 430px;
    font-family: "poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.call{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.mail{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.right-footer{
    margin-top: 25px;
}
.right-footer p{
        width: 473px;
        height: 172px;
    
        font-family: "lato";
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0px;
        color: #FFFFFF;
    
        
}
