@font-face{
    font-family: "lato";
    src: url(./fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: "montserrat";
    src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: "montserrat2";
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: "nunito";
    src: url(./fonts/Nunito-Medium.ttf);
}
@font-face{
    font-family: "poppins";
    src: url(./fonts/Poppins-Regular.ttf)
}
@font-face{
    font-family: "poppins2";
    src: url(./fonts/Poppins-Bold.ttf)
}
@font-face{
    font-family: "noto";
    src: url(./fonts/NotoSerifGeorgian-Regular.ttf)
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
section{
    padding-left: 40px;
    padding-right: 40px;
}
.section1{
    height: 80px;
    flex-shrink: 0;
    background: var(--Neutral, #0A0F29);
}
header{
    display: flex;
    justify-content: space-between;
}
/*     SECTION2         */
.section2{
    height: 105vh;
background: var(--Green, #098C26);
padding-top: 20px;
border-bottom: 5px;
}
ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}
.main{
    color: var(--Surface, #FFF);
font-family: "lato";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
li a{
    text-decoration: none;
    color: var(--Surface, #FFF);
    /* Lato Semi Bold 28 */
    font-family: "lato";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
span{
    color: var(--Surface, #FFF);
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about{
    margin-top: 70px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}
.about h2{
    width: 630px;
    height: 115px;
    color: var(--Surface, #FFF);
    /* Montserrat Semi Bold 52 */
    font-family: "montserrat";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.about p{
    width: 675px;
    height: 190px;
    color: var(--Surface, #FFF);
    /* Montserrat 40 Regular */
    font-family: "montserrat2";
    font-size: 40px;
    font-weight: 400;
}
.btn1{
    width: 300px;
    height: 65px;
    padding: 20px 25px 19px 25px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Orange, #F7931A);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
    margin: 0;
}
.btn2{
    width: 300px;
    height: 65px;
    padding: 20px 25px 19px 25px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Surface, #FFF);
    margin-left: 30px;
    border: none;
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
}
/*       SECTION3            */
.title{
    display: flex;
    height: 210px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    margin-top: 50px;
}
.title h1{

    height: 60px;
    color: var(--Blue, #2F66F6);
    text-align: center;
    font-family: "montserrat";
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.title p{
    height: 100px;
    color: #000;
    text-align: center;
    font-family: "montserrat2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.container img{
    width: 90px;
    height: 90px;
}
.container{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    margin-top: 45px;
    background: #F5F5F5;
}
.card1{
    display: flex;
}
.card1 h3{
    width: 150px;
    height: 45px;
    color: var(--Blue, #2F66F6);
    /* Lato Bold 36 */
    font-family: "lato";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding-left: 21px;
}
.card1 p{
    width: 310px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "poppins";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-left: 21px;
    padding-top: 10px;
}
/*     SECTION4     */
.section4{
    background: #F5F5F5;
height: 150vh;
}
.section4 h1{
    color: var(--Blue, #2F66F6);
    font-family: "noto";
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.btn3{
    width: 200px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Green, #098C26);
    color: var(--Surface, #FFF);
    text-align: center;
    border: none;
    font-family: "nunito";
    font-size: 28px;
    font-weight: 400;
}
.btn4{
    width: 300px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0F0F0;
    background-image: url(./img/Bitcoin.png);
    background-repeat: no-repeat;
    background-position: 20px;
    box-shadow: 4px 10px 10px 10px rgba(0, 0, 0, 0.50);
    color: var(--Neutral, #0A0F29);
    text-align: center;
    font-family: "poppins2";
    font-size: 24px;
    font-weight: 700;
    padding-left: 40px;
    border: none;
}
.btn5{
    width: 200px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: var(--Red, #CD0000);
    color: var(--Surface, #FFF);
    text-align: center;
    /* Nunito 28 pt Regular */
    font-family: "nunito";
    font-size: 28px;
    font-weight: 400;
}
.abt-market{
    display: flex;
    padding-right: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.abt-market h1{
    text-align: left;
    color: #000;
    font-family: "montserrat";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    line-height: normal;
}
.abt-market p{
    width: 790px;
    color: #000;
    font-family: "nunito";
    font-size: 24px;
    font-weight: 400;
    display: flex;
}